.cards{
    border: 1px solid rgb(41, 57, 206);
    cursor: pointer;
    padding: 5%;
    margin: 3% 5%;
}

.cards:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}

.elipsis {
  white-space: nowrap; 
  max-width: 150px; 
  overflow: hidden;
  text-overflow: ellipsis;
  display:inline-block; 
}

.content {
   margin-left:5%;
   vertical-align: middle;
}